body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center; /* Centra todo el texto */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    margin-bottom: 10px;
    text-align: center; /* Centra el texto del título */
}

img {
    display: block;
    margin: 0 auto;
    max-width: 300px; /* Ancho máximo */
    height: auto; /* Mantiene la proporción */
    margin-bottom: 20px; /* Espacio debajo de la imagen */
}

p {
    margin: 5px 0;
    text-align: center; /* Centra el texto de los párrafos */
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Centra el texto de los elementos de la lista */
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}
